<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/reviews" method="POST">
      Album: <input type="text" name="album" required/><br/>
      Artist: <input type="text" name="artist" required/><br/>
      Album art: <input type="text" name="art" /><br/>
      Write-up: <input type="text" name="writeup" required/><br/>
      Score: <input type="number" name="score" required/><br/>
      <input type="submit" name="" value="submit entry"/>
    </form>
  </body>
</html>
