<html lang="en" dir="ltr">
  <head>
  </head>
  <body>
    <div>
      <h1>New User</h1>
      <form action="/users" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" required/>
        <label>Password:</label>
        <input type="password" name="password" required/>
        <br>
        <input type="submit" value="Submit">
      <form>
    </div>
  </body>
</html>
